@import "config";
@import "menu";

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 10rem;
  }

  .text-secondary {
    color: $secondary-color;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    font-size: 4rem;
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

.text-ternary {
  color: #3f0b3f;
}

.text-orange {
  color: rgb(179, 255, 0);
  font-weight: 1500;
  font-size: x-large;
}
.text-black {
  color: black;
  font-weight: 900;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.5rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "interests interests interests"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    width: 25rem;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .interests {
    grid-area: interests;
    font-size: 4rem;
  }

  .bio {
    grid-area: bio;
    font-size: 3rem;
  }

  .job-1 {
    grid-area: job1;
    font-size: 2rem;
  }

  .job-2 {
    grid-area: job2;
    font-size: 2rem;
  }

  .job-3 {
    grid-area: job3;
    font-size: 2rem;
  }

  .job {
    background: lighten($color: $primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    text-align: center;
    &:hover {
      background: darken($primary-color, $amount: 10);
      color: black;
    }
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: #900;
    }
  }
}

@import "mobile";
